.game h1 {
    font-size:3rem;
    margin-bottom:1rem
}

.game p {
    font-size: 1.8rem;
    margin-top: 1rem;
}

.points {
    font-weight: bold;
    font-size:1.8rem;
    margin: 3rem ;
}

.tip {
    font-size: 1.8rem;
}

.tip span {
   color: #ecfa00; 
}

.wordContainer {
    margin: 2rem;
    padding:2rem;
    border: 0.8rem solid #ecfa00;
    font-size:2rem;
    display:flex;
    
}

.letter, .blankSquare {
    font-size:7rem;
    line-height: 1.5;
    border: 0.3rem solid #000000;
    height: 10rem;
    width: 10rem;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.letterContainer {
    margin-bottom: 1.5rem;
}

.letterContainer p{
    font-size:1.8rem;
    margin-bottom:1rem;
}

.letterContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letterContainer input {
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0.1rem;
}

.letterContainer input:focus{
   outline: 0;
}

.letterContainer button {
    margin-top: 2rem;
    box-shadow:inset 0 0 1.5rem 0.3rem #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:1.7rem;
	border:0.1rem solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.5rem;
	padding:0.6rem 1.3rem;
	text-decoration:none;
	text-shadow:0 0.1rem 0 #263666;
    width: 10rem;
    height: 4rem;
}

.letterContainer button:hover {
    background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}

.letterContainer button:active {
    position:relative;
	top:0.1rem;
}

.wordLettersContainers {
    font-size: 1.8rem;
}